
.side-box{
    display: block;
    justify-content: center;
    align-items: center;
}


.add-info{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
p img{
    border-radius: 60%;
    background-color:white;
    width: 60px;
}