.header{
    height: 60px;
    width: 100%;
    background-color:rgb(98, 199, 199);
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 40px;
}
nav a{
    text-decoration: none;
    margin-right: 9px;
    font-weight:700;
    color:black;
}
nav a:hover{
    border-bottom: 2px solid antiquewhite;
}
.logo{
    font-family:Comic Sans MS, Comic Sans, cursive;
    cursor: pointer;
}
.category{
    display: none;

    height: 400px;
    width: 200px;
    background-color:aquamarine;
    border-radius: 20px;
    
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
.category:hover .category{
    display: block;
}
