*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .wines-body{
    display: grid;
    grid-template-columns: 4fr 1fr;
} */
.wines-body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.wines{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 90px 10px;
    padding: 20px;
    position: relative;
}
.wines-info{
    
    position: sticky;
    top: 0;
    height: 800px;
    border: none;
    border-radius: 10px;
    background-color:rgba(0, 255, 255, 0.123);
    
}
.one{
    height: 35px;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    background-color:aquamarine;
    font-weight:800;
    color: rgb(29, 24, 24);
    border: none;
    cursor: pointer;

}
.two{
    height: 35px;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    background-color:darkred;
    font-weight:600;
    color: white;
    border: none;
    cursor: pointer;
}
.two-button{
    display: block;
}
@media only screen and (max-width: 600px) {
    .wines-info{
        display: none;
    }
    .wines{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
}
/* @media only screen and (min-width: 768px) {
    .wines-info{
        display: none;
    }
    .wines{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
} */

